<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dash Board </title>
    <style>
        .dropdown-menu {
            width: 400px !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
            /* height: 400px !important; */
        }

        body {
            text-align: center;
        }

        #g1,
        #g2,
        #g3,
        #g4,
        #g5,
        #g6 {
            width: 200px;
            height: 160px;
            display: inline-block;
            margin: 1em;
        }

        p {
            display: block;
            width: 450px;
            margin: 2em auto;
            text-align: left;
        }
    </style>

    <!-- Bootstrap core CSS 22-->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="js/myScript.js"></script>
    <script>
        node1Get( <%= device %> , <%= node1 %> , <%= node2 %> );
    </script>
    <!-- Custom styles for this template -->
    <!-- <link href="css/full-width-pics.css" rel="stylesheet"> -->
    <link href="css/card-col.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Kasetsart IoT Environment Monitoring System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">UserManual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <div class="card mt-5 mx-auto border-secondary" style="width:1090px">
        <div class="card-header">
            <div class=float-right>
                <ul class="nav nav-pills card-header-pills ">
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            History
                        </button>
                        <div class="dropdown-menu">
                            <h5> Please type number of query.</h5>
                            <form action="/allhistory">
                                <form class="dropdown-menu p-4">
                                    <div class="form-group">
                                        <label for="exampleDropdownFormEmail2">Gateway ID</label>
                                        <input name="gid" type="text" class="form-control"
                                            id="exampleDropdownFormEmail2" value="<%= device %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleDropdownFormPassword2">Node ID</label>
                                        <input name="nid" type="text" class="form-control"
                                            id="exampleDropdownFormPassword2" value="<%= node1 %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="queryNumber">Number of query</label>
                                        <input name="queryNumber" type="text" class="form-control" id="queryNumber"
                                            value="200">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </form>
                            </form>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="float-left mt-2">
                <h4>Gateway No.
                    <%= device %> , Node No.1</h4>
            </div>

        </div>
        <div class="card-body">
            <!-- <div id="n1_airtemp"></div> -->
            <!-- <div id="n1_airhumid"></div> -->
            <div class="row">
                <div class="column">
                    <div class="card_cus">
                        <div id="n1_airtemp"></div>
                        <p>Some text</p>
                        <a href="history/get?gid=<%= device %>&id=<%= node1 %>&limit=70&label=AirTemperature&prefix=airTemp&chartMin=0&chartMax=120"
                            class="btn btn-outline-info" role="button">Quick History</a>
                    </div>
                </div>

                <div class="column">
                    <div class="card_cus">
                        <div id="n1_airhumid"></div>
                        <p>Some text</p>
                        <a href="history/get?gid=<%= device %>&id=<%= node1 %>&limit=70&label=AirHumidity&prefix=airHumid&chartMin=0&chartMax=120"
                            class="btn btn-outline-info" role="button">Quick History</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card_cus">
                        <div id="n1_soil"></div>
                        <p>Some text</p>
                        <a href="history/get?gid=<%= device %>&id=<%= node1 %>&limit=70&label=SoilHumidity&prefix=soilHumid&chartMin=0&chartMax=120"
                            class="btn btn-outline-info" role="button">Quick History</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card_cus">
                        <div id="n1_wind"></div>
                        <p>Some text</p>
                        <a href="history/get?gid=<%= device %>&id=<%= node1 %>&limit=70&label=WindSpeed&prefix=wind&chartMin=0&chartMax=30"
                            class="btn btn-outline-info" role="button">Quick History</a>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="column">
                    <div class="card_cus h-100">
                        <br>
                        <!-- Green -->
                        <div class="progress">
                            <div class="progress-bar bg-success" id=pm1_bar aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="500" style="width: 0%"></div>
                        </div>

                        <!-- Turquoise -->
                        <div class="progress mt-1">
                            <div class="progress-bar bg-info" id=pm25_bar aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="130" style="width: 0%"></div>
                        </div>

                        <!-- Orange -->
                        <div class="progress mt-1">
                            <div class="progress-bar bg-warning" id=pm10_bar aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="500" style="width: 0%"></div>
                        </div>
                        <div class="mx-5">
                            <h6>PM1: <span class="badge badge-pill badge-success" id="pm1_badge">.... AQN</span></h5>
                                <h6>PM2.5:<span class="badge badge-pill badge-info" id="pm25_badge">.... AQN</span></h6>
                                <h6>PM10:<span class="badge badge-pill badge-warning" id="pm10_badge">.... AQN</span>
                                </h6>
                                <a href="history/get/pm?gid=<%= device %>&id=<%= node1 %>&limit=70&label=PM&chartmax=500"
                                    class="btn btn-outline-info" role="button">Quick History</a>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card_cus h-100">
                        <img class="card-img-top" src="image/cloudy.png" id="raining_status" alt="Card image"
                            style="width:50px;height:50px;">
                        <div class="card-body">
                            <h6 class="card-title" id="raining_status_text">Status : ......</h6>

                            <a href="history/get?gid=<%= device %>&id=<%= node1 %>&limit=70&label=RainingStatus&prefix=rain&chartMin=0&chartMax=1"
                                class="btn btn-outline-info" role="button">Quick History</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card_cus h-100">
                        <div id="n1_uv"></div>
                        <a href="history/get?gid=<%= device %>&id=<%= node1 %>&limit=70&label=UVintensity&prefix=uv&chartMin=0.0&chartMax=3.0"
                            class="btn btn-outline-info" role="button">Quick History</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card_cus h-100">
                        <h5 id="last_update">...</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card mt-5 mx-auto border-secondary" style="width:1090px">
        <div class="card-header">
                <div class=float-right>
                        <ul class="nav nav-pills card-header-pills ">
                            <div class="btn-group dropleft">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    History
                                </button>
                                <div class="dropdown-menu">
                                    <h5> Please type number of query.</h5>
                                    <form action="/allhistory">
                                        <form class="dropdown-menu p-4">
                                            <div class="form-group">
                                                <label for="exampleDropdownFormEmail2">Gateway ID</label>
                                                <input name="gid" type="text" class="form-control"
                                                    id="exampleDropdownFormEmail2" value="<%= device %>">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleDropdownFormPassword2">Node ID</label>
                                                <input name="nid" type="text" class="form-control"
                                                    id="exampleDropdownFormPassword2" value="<%= node2 %>">
                                            </div>
                                            <div class="form-group">
                                                <label for="queryNumber">Number of query</label>
                                                <input name="queryNumber" type="text" class="form-control" id="queryNumber"
                                                    value="200">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        </form>
                                    </form>
                                </div>
                            </div>
                        </ul>
                    </div>
            <div class="float-left mt-2">
                <h4>Gateway No.
                    <%= device %> , Node No.2</h4>
            </div>

        </div>
        <div class="card-body">
            <!-- <div id="n1_airtemp"></div> -->
            <!-- <div id="n1_airhumid"></div> -->
            <div class="row">
                <div class="column">
                    <div class="card_cus">
                        <div id="n2_airtemp"></div>
                        <p>Some text</p>
                        <a href="history/get?gid=<%= device %>&id=<%= node2 %>&limit=70&label=AirTemperature&prefix=airTemp&chartMin=0&chartMax=120"
                            class="btn btn-outline-info" role="button">Quick History</a>
                    </div>
                </div>

                <div class="column">
                    <div class="card_cus">
                        <div id="n2_airhumid"></div>
                        <p>Some text</p>
                        <a href="history/get?gid=<%= device %>&id=<%= node2 %>&limit=70&label=AirHumidity&prefix=airHumid&chartMin=0&chartMax=120"
                            class="btn btn-outline-info" role="button">Quick History</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card_cus">
                        <div id="n2_soil"></div>
                        <p>Some text</p>
                        <a href="history/get?gid=<%= device %>&id=<%= node2 %>&limit=70&label=SoilHumidity&prefix=soilHumid&chartMin=0&chartMax=120"
                            class="btn btn-outline-info" role="button">Quick History</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card_cus">
                        <div id="n2_wind"></div>
                        <p>Some text</p>
                        <a href="history/get?gid=<%= device %>&id=<%= node2 %>&limit=70&label=WindSpeed&prefix=wind&chartMin=0&chartMax=30"
                            class="btn btn-outline-info" role="button">Quick History</a>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="column">
                    <div class="card_cus h-100">
                        <br>
                        <!-- Green -->
                        <div class="progress">
                            <div class="progress-bar bg-success" id=pm1_bar2 aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="500" style="width: 0%"></div>
                        </div>

                        <!-- Turquoise -->
                        <div class="progress mt-1">
                            <div class="progress-bar bg-info" id=pm25_bar2 aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="130" style="width: 0%"></div>
                        </div>

                        <!-- Orange -->
                        <div class="progress mt-1">
                            <div class="progress-bar bg-warning" id=pm10_bar2 aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="500" style="width: 0%"></div>
                        </div>
                        <div class="mx-5">
                            <h6>PM1: <span class="badge badge-pill badge-success" id="pm1_badge2">.... AQN</span></h5>
                                <h6>PM2.5:<span class="badge badge-pill badge-info" id="pm25_badge2">.... AQN</span>
                                </h6>
                                <h6>PM10:<span class="badge badge-pill badge-warning" id="pm10_badge2">.... AQN</span>
                                </h6>
                                <a href="history/get/pm?gid=<%= device %>&id=<%= node2 %>&limit=70&label=PM&chartmax=500"
                                    class="btn btn-outline-info" role="button">Quick History</a>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card_cus h-100">
                        <img class="card-img-top" src="image/cloudy.png" id="raining_status2" alt="Card image"
                            style="width:50px;height:50px;">
                        <div class="card-body">
                            <h6 class="card-title" id="raining_status_text2">Status : ......</h6>
                            <a href="history/get?gid=<%= device %>&id=<%= node2 %>&limit=70&label=RainingStatus&prefix=rain&chartMin=0&chartMax=1"
                                class="btn btn-outline-info" role="button">Quick History</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card_cus h-100">
                        <div id="n2_uv"></div>
                        <a href="history/get?gid=<%= device %>&id=<%= node2 %>&limit=70&label=UVintensity&prefix=uv&chartMin=0.0&chartMax=3.0"
                            class="btn btn-outline-info" role="button">Quick History</a>
                    </div>
                </div>
                <div class="column">
                    <div class="card_cus h-100">
                        <h5 id="last_update2">...</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>

    <!-- Footer -->
    <footer class="py-5 bg-dark mx-auto">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; KITTAPHORN 2019</p>
            </div>
            <!-- /.container -->
          </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="js/raphael-2.1.4.min.js"></script>
    <!--<script src="../justgage-1.0.1.js"></script>-->
    <script src="js/justgage.js"></script>
</body>

</html>